{% extends 'base.html' %}

{% block title_name %}
小说书架
{% endblock %}

{% block breadcrumb %}
<div class = "breadcrumb">
    <li>
        <a href = "{% url 'home' %}">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            首页
        </a>
    </li>
    <li class = "active">小说书架</li>
</div>
{% endblock %}

{% block content %}

<table class = "table table-hover">
    <thead>
        <tr>
            <th>书名</th>
            <th>作者</th>
            <th>最新章节</th>
            <th>更新时间</th>
        </tr>
    </thead>
    {% for n in novels %}
    <tbody>
        <tr>
            <td><a href = "{% url 'novel_index' n.id %}">{{ n.name }}</a></td>
            <td>{{ n.author }}</td>
            {% if n.latest_chapter_id %}
            <td><a href = "{% url 'novel_chapter_display' n.id n.latest_chapter_id %}">{{ n.latest_chapter }}</a></td>
            {% else %}
            <td>{{ n.latest_chapter }}</td>
            {% endif %}
            <td>{{ n.last_update_timestamp | date:"Y-m-d P" }}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
添加小说
</button>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加小说</h4>
            </div>
                
            <form method = "POST"> {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">书名</label>
                        <input class="form-control" name="name" placeholder="书名">
                    </div>
                    <div class="form-group">
                        <label for="author">作者</label>
                        <input class="form-control" name="author" placeholder="作者">
                    </div>
                    <div class="form-group">
                        <label for="yisou_id">宜搜网ID</label>
                        <input class="form-control" name="yisou_id" placeholder="宜搜网ID">
                    </div>
                    <div class="form-group">
                        <label for="resource">来源</label>
                        <!--input class="form-control" name="resource" placeholder="来源"-->
                        <select class="form-control" name="resource">
                            {% for s in stages %}
                            <option>{{ s.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <script>
                        $(function () {
                            $('[data-toggle="tooltip"]').tooltip()
                        })
                    </script>
                    <a data-toggle="tooltip" data-placement="right" title="宜搜小说网每本小说对应的ID，可以在宜搜网对应小说页面URL中找到">
                        什么是宜搜网ID?
                    </a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">保存更改</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
